@using BlazorTool.Client.Models
@using System.Globalization
@inject IStringLocalizer<Resources.UIStrings> Localizer

@if (ActivityItem != null)
{
    <div class="activity-row" >
        <span class="activity-category" onclick="@OnRowClick" title="@Localizer["ActivityDisplay_Category"]">@ActivityItem.ActCategory</span>
        <span class=@(isExternalWindow ? "activity-description-external" : "activity-description") onclick="@OnRowClick" title="@Localizer["ActivityDisplay_Description"]">@((MarkupString)Markdig.Markdown.ToHtml(ActivityItem.Description ?? ""))</span>
        <span class="activity-workload" onclick="@OnRowClick" title="@Localizer["ActivityDisplay_WorkLoad"]">@ActivityItem.WorkLoad.ToString("F2") @Localizer["ActivityDisplay_HoursAbbreviation"]</span>
        <span class="activity-workers" onclick="@OnRowClick" title="@Localizer["ActivityDisplay_Workers"]">@ActivityItem.Workers</span>
        <div class="activity-persons" onclick="@OnRowClick" title="@Localizer["ActivityDisplay_AssignedPersons"]">
            @if(isEditable)
            {
                <button class="add-person-btn" @onclick="() => OnClick.InvokeAsync(ActivityItem.ActivityID)" title="@Localizer["ActivityDisplay_AddPerson"]">
                 +
                </button>
            }
            -> @String.Join(", ", Persons?.Select(p => p.Name).ToList() ?? new List<string>())
        </div>
        <span class="activity-date" onclick="@OnRowClick" title="@Localizer["ActivityDisplay_DateAdded"]">@ActivityItem.AddDate.ToString("dd.MM.yyyy HH:mm")</span>
        <span class="activity-workload" onclick="@OnRowClick" title="@Localizer["Cost"]">@(ActivityItem?.Cost?.ToString("C2", new CultureInfo("pl-PL")))</span>
    </div>
}
<TelerikWindow @bind-Visible="isActivityDisplayOpened" Modal="true" CloseOnOverlayClick="true">
    <WindowTitle>
        <strong>@Localizer["WorkOrder_Action"] @ActivityItem?.ActivityID</strong>
    </WindowTitle>
    <WindowActions>
        <WindowAction Name="Close" />
    </WindowActions>
    <WindowContent>
        <ActivityCard Activity="@ActivityItem" LangCode="@LangCode" />
    </WindowContent>
</TelerikWindow>
@code {

    [Parameter]
    public Activity? ActivityItem { get; set; }
    [Parameter]
    public List<Person>? Persons { get; set; }
    [Parameter]
    public bool isEditable { get; set; } = false;   
    [Parameter]
    public EventCallback<int> OnClick { get; set; }
    [Parameter]
    public bool isExternalWindow { get; set; } =false;
    [Parameter]
    public string LangCode { get; set; } = "pl-PL";

    private bool isActivityDisplayOpened = false;

    private void OnRowClick()
    {
        isActivityDisplayOpened = true;
    }
}
